@import "../../../_variables.scss";

#root {
  position: absolute;
  right: 5%;
  bottom: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 75px;
  padding: 10px;
  color: rgb(255,255,255);
  font-weight: bold;
  background-color: $my_background_color;
  text-align: center;
}
