#map_root__display {
  position: absolute;
  right: 5%;
  bottom: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 50px;
  padding: 10px;
  color: rgb(255,255,255);
  font-weight: bold;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}
